body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Oswald";
    background-image: url("https://wallpapers.com/images/hd/skyrim-flying-dragon-kl4n2n4m4l34f7xv.jpg");

}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    padding: 25px;
    align-items: center;
    height: 30px;
}

.header_social_links{
    display: flex;
    margin-left: 60px;
    gap: 20px;
}

.header_social_links img {
    height: 25px;
}

.header_logo {
    margin-left: 340px;
}

.header_logo img {
    height: 30px;
}

.header_menu_links {
    display: flex;
    margin-left: 250px;
    gap: 30px;
    color:rgb(255, 251, 251)
}

.header_menu_links a {
    color:rgb(255, 251, 251);
    font-size: 20px;
}

a {
    text-decoration: none;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 767px;
    justify-content: center;
}

.intro img {
    height: 130px;
    margin-top: 60px;
}

.intro h1 {
    font-size: 62px;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 900;
    color:rgb(255, 251, 251);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.intro p {
    width: 750px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    color:rgb(255, 251, 251);
    font-size: 20px;
}

.intro div {
    display: flex;
    justify-content: center;
}

.intro button {
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 1.0);
    color: rgb(255, 251, 251);
    border: solid 2px rgb(255, 251, 251);
}

.break {
    flex-basis: 100%;
}

footer {
    border-top: 2px solid white;
    color: solid white;
    margin-top: -100px;
}

footer p {
    color: white;
}

